%section.footer
  .container
    .logo
      %a{:href => "/images/necktie-brewery-logo-large.png"}
        %img{:src => "/images/necktie-brewery-logo.png"}

    .twelve.offset-by-two.columns
      :markdown
        Design by [Charles Maresh][].

        [Charles Maresh]:http://maresh.us
