%p.stats
  %span
    #{abv}% <abbr title="Alcohol by Volume">ABV</abbr>;

  &nbsp;
  <abbr title="Original Gravity">OG</abbr>:
  %span.gravity= og

  &nbsp;
  <abbr title="Final Gravity">FG</abbr>:
  %span.gravity= fg

